@model IEnumerable<BO.Employee>
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">*@
<div class="container">
    <button type="button" style="margin-top:10px" class="btn btn-primary">CONTACT  <span class="glyphicon glyphicon-plus"></span></button>
    <div style="margin-top:10px" class= "pull-right"><ul id="menu">
    @foreach (string item in ViewBag.Submenu)
    {
        <li class="active">@Html.ActionLink(item, "Search","home", new{ filter = item},null)</li>
    }
</ul></div>
   
</div>


<div class="container">
    <h2>Contacts</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>EmployeeID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Title</th>
                <th>BirthDate</th>
                <th>HireDate</th>
                <th>Address</th>  
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>                   
                    <td>@item.EmployeeID</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Title</td>
                    <td>@item.BirthDate</td>
                    <td>@item.HireDate</td>
                    <td>@item.Address</td>
                </tr>
            }           
        </tbody>
    </table>
</div>