@model CECM.Web.ViewModels.HomeViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">*@
<div class="container">
    <button type="button" style="margin-top:10px" class="btn btn-primary">CONTACT  <span class="glyphicon glyphicon-plus"></span></button>
    <div style="margin-top:10px" class= "pull-right"><ul id="menu">

    @foreach (var item in Model.Alphabets)
    {
        <li class="active">@Html.ActionLink(item.alphabet, "Index","home",  new { filter = item.alphabet, SearchWord = "" },null)</li>
    }


</ul></div>
   
</div>
<div class="container" style="margin-top:10px;">
    <div style="float:right;">
    @using (Html.BeginForm("Index", "home", FormMethod.Get))
    {
        @Html.Editor("SearchWord")
        <input type="submit" value="search"/>
    }
    </div>
</div>

@*<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
                @using (Html.BeginForm("SearchBox", "home"))
                {
                    <div class="search-form">
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            @Html.Editor("SearchWord")
                            <input type="submit" class="form-control">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                }
        </div>
    </div>
</div>*@

<div class="container">
    <h2>Contacts</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    EmployeeID
                </th>
                <th>Title</th>
                <th>
                    FirstName
                </th>
                <th>
                    @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, SearchWord = ViewBag.SearchWord,
                   filter = ViewBag.filter, attr = "LastName" })
                </th>                
                <th>BirthDate</th>
                <th>
                    @Html.ActionLink("HireDate", "Index", new { sortOrder = ViewBag.DateSortParm, SearchWord = ViewBag.SearchWord,
                   filter = ViewBag.filter, attr = "HireDate" })
                </th>
                <th>Address</th>  
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.page_Employees)
            {
                <tr>                   
                    <td>@Html.DisplayFor(modelItem => item.EmployeeID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.BirthDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.HireDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    
                </tr>
                }           
        </tbody>
    </table>
</div>

Page @(Model.page_Employees.PageCount < Model.page_Employees.PageNumber ? 0 : Model.page_Employees.PageNumber) of @Model.page_Employees.PageCount

@Html.PagedListPager(Model.page_Employees, page => Url.Action("Index",
    new { page, SearchWord = ViewBag.SearchWord, filter = ViewBag.filter, sortOrder = ViewBag.CurrentSort }))